
<script>window.texme = { renderOnLoad: false }</script>
<script src="https://cdn.jsdelivr.net/npm/texme"></script>
<textarea id="demo">


# This is a heading

-----------------------------------


[Markdown Cheat Sheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)


# Euler's Identity

In mathematics, **Euler's identity** is the equality
$$ e^{i \pi} + 1 = 0. $$

## Code Block

```python
    def test():
       print('Hello Markdown')
       return True
```


### Markdown Table

|This |is |a Test|
|-----|:---:|------|
|data |1  |200   |



</textarea>



